body {
  padding-left: 2em;
  padding-right: 2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #CD5C5C;
}

h1 {
  color: #800000 ;
  text-align: center;
}

h2 {
  color: #800000;
}

.nav{
  background-color: #B22222;
  text-align: center;
  border: 2px solid #FF6347;
  display: block;
  color: white;
}

.nav ul{
  list-style-type: none;	
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline-block;
}

.nav li{
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #FF6347;
  color: white;
}

img{
  width: 20em;
  height: 20em;
  border: 1px solid #ddd;
}


.index ul{
  color:white;
}

.index h3{
  color: white;
  background-color: #B22222 ;
}

.index p{
  color:#800000;
}


.internship ul{
  color:white;
  background-color:#B22222;
}
	


